/* Center the container */
.inputContainer {
    padding: var(--spacers-dp12) var(--spacers-dp12) 0;
    flex-grow: 0;
}

.dividerContainer {
    flex-shrink: 0;
}

.menu {
    max-height: 70vh;
    overflow-y: auto;
}

.bordered {
    border-bottom: 1px solid var(--colors-grey400);
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #7a879a;
    padding: 16px 8px;
}
